body {
  background-color: rgb(164, 186, 206);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p{
  color: rgb(47, 86, 145);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}